<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919935843467-3h0b201meodjbu0up47roih4fmh9at27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919935843467-3h0b201meodjbu0up47roih4fmh9at27</string>
	<key>API_KEY</key>
	<string>AIzaSyAZPadgHVH44fL9HtJluSmyUPGyosthBuk</string>
	<key>GCM_SENDER_ID</key>
	<string>919935843467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anhkn.rnapp</string>
	<key>PROJECT_ID</key>
	<string>rn-app-f5002</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-app-f5002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919935843467:ios:9b3139a3c1a09c5776a88e</string>
</dict>
</plist>